body {
  margin: 0;
}

.top-side {
  height: 60px;
  width: 100%;
  border-bottom: 2px solid #ff8000;
}

.top-side header {
  font-size: 1.5em;
  color: #ccc;
}

.top-side header span {
  border-bottom: 2px solid #ccc;
}